.highslide-container div{font-family:Verdana, Helvetica;font-size:10pt}
.highslide-container table{background:none}
.highslide{outline:none;text-decoration:none}
.highslide img{border:1px solid #D0D0D0}
.highslide:hover img{border-color:#A0A0A0}
.highslide-active-anchor img{visibility:hidden}
.highslide-gallery .highslide-active-anchor img{visibility:visible;cursor:default;border-color:black}
.highslide-image{border:2px solid #FFFFFF;border-color:white;border-style:solid;border-width:2px}
.highslide-wrapper,.highslide-outline{background:#FFFFFF}
.glossy-dark{background:#111}
.highslide-number{font-weight:bold;color:gray;font-size:.9em}
.highslide-caption{display:none;font-size:1em;padding:5px}
.highslide-heading{display:none;font-weight:bold;margin:.4em}
.highslide-dimming{background:black}
a.highslide-full-expand{background:url(graphics/fullexpand.gif) no-repeat;display:block;width:34px;height:34px;margin:0 10px 10px 0}
.highslide-loading{display:block;font-size:9px;font-weight:bold;text-transform:uppercase;text-decoration:none;background-repeat:no-repeat;background-position:3px 1px;color:white;border:1px solid white;background-color:black;background-image:url(graphics/loader.black.gif);padding:3px 3px 3px 22px}
a.highslide-credits,a.highslide-credits i{color:silver;text-decoration:none;font-size:10px;padding:2px}
a.highslide-credits:hover,a.highslide-credits:hover i{color:white;background-color:gray}
.highslide-viewport{display:none;position:fixed;width:100%;height:100%;z-index:1;background:none;left:0;top:0}
.closebutton{position:relative;top:-15px;left:15px;width:30px;height:30px;cursor:pointer;background:url(graphics/close.png)}
.highslide-html{background-color:white;background:none}
.highslide-html-content{display:none;width:400px;padding:0 5px 5px}
.highslide-header{padding-bottom:5px}
.highslide-header ul{text-align:right;margin:0;padding:0}
.highslide-header ul li{display:inline;padding-left:1em}
.highslide-header a{font-weight:bold;color:gray;text-transform:uppercase;text-decoration:none}
.highslide-header a:hover{color:black}
.highslide-footer{height:16px}
.highslide-footer .highslide-resize{display:block;float:right;margin-top:5px;height:11px;width:11px;background:url(graphics/resize.gif) no-repeat}
.highslide-resize{cursor:nw-resize}
.titlebar .highslide-header{height:24px;}
.titlebar .highslide-heading{position:absolute;width:90%;color:#7C7B56;font-size:17px;margin:1px 0 1px 5px; text-align:left}
.titlebar .highslide-header .highslide-move{cursor:move;display:block;height:16px;position:absolute;right:24px;top:0;width:100%;z-index:1}
.titlebar .highslide-header li{position:relative;top:3px;z-index:2;padding:0 0 0 1em}
.titlebar .highslide-maincontent{padding-top:1em}
.titlebar .highslide-header .highslide-move * {display: none}
.no-footer .highslide-footer {display: none;}
.highslide-move,.highslide-move *,.highslide-header .highslide-move a{cursor:move}
.highslide-overlay,.hidden-container,.highslide-maincontent,.highslide-header ul li.highslide-previous,.highslide-header ul li.highslide-next,.highslide-footer .highslide-resize span,.titlebar .highslide-header .highslide-move *,.highslide-header .highslide-move,.highslide-header .highslide-close{display:none}
